.genericCard{
    margin-top:20px;
    padding: 10px;
    min-width: 20vw;
    max-width: 420px;
    background-color: #FFFF;
    border:1px solid salmon;
}

.titleIssue{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 70px;
}

.imageDone{
    width:15px;
    height: 20px;
}

.taskDone{
    display:flex;
    gap: 5px
}
