.widget{
  width:100%;
  height:40px;
  text-align:center;
  border:2px solid blue;
  cursor:grab;
}

.widget:active {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: aqua;
  cursor: grabbing;
}

/* .beingDragged{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: aqua;
} */

