.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
  width: 100%;
}

.header > * {
  /* border:2px solid red; */
}

.filterWrapper{
  display:flex;
  gap:1em;
}


.toolBar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding:.5em 2em .5em 2em;
}



.date{
  background-color:white;
  padding:.5em 1em;
  border-radius: 10px;
  font-weight: 500;
}

.searchDialog {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.7em;
  background: #fff;
  height: 50px;
  border-radius: 10px;
}

.icon {
  margin-bottom: -0.3em;
  color: var(--darkgray-color);
}

.select{
  display: flex;
  align-items: center;
  gap: 0.5em;
  background:red;
  border-radius:6px;
  height:50px;
  width:200px;
}


.searchDialog > input {
  all: unset;
  height: 100%;
}


.switchViewBtnContainer {
  display: flex;
  position: relative;
  /* margin-left:-100px; */
  gap: 0.3em;

}

.btn {
  all: unset;
  /* border:1px solid var(--darkgray-color); */
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1em;
  font-weight: bold;
  color: var(--darkgray-color);
  padding: 0 1em;
  cursor: pointer;
}

.activebtn {
  all: unset;
  /* border:1px solid var(--darkgray-color); */
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1em;
  font-weight: bold;
  color: var(--darkgray-color);
  padding: 0 1em;
  cursor: pointer;
  border: 1px solid var(--darkgray-color);
  margin: -1px;
  background-color: var(--main-bg-color);
}

.btn:hover {
  border: 1px solid var(--darkgray-color);
  margin: -1px;
  background-color: var(--main-bg-color);
}

.btn:active {
  transform: scale(0.98);
}

.switchViewBtnContainer > button > .icon {
  margin-bottom: 0;
}

.wrapper{
  display:flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
  padding:0 1.5em;
}

.titleContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:1em;
}
.titleContainer *{
  margin:0;
}
