.myIssues {
  width: 100%;
  height:100% ;
  background-color: var(--main-bg-color);
  border: 2px solid var(--gray-color);
  position: relative;
  overflow:auto;
}

.header{
  display:flex;
  justify-content: space-around;
  gap: 1em;
  padding:0 1em;
  background-color: #ccc;
  overflow:hidden;
}

.headerElement{
  min-width: 320px;
  text-align:center;
}


.kanbanContainer {
  padding: 20px;
}
