.column {
  max-height: 100%;
  min-width: 320px;
  border: 2px solid blue;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.column::-webkit-scrollbar {
  display: none;
}


.header {
  text-align: center;
}
