.formContainer {
    padding:1em;
    display: flex;
    flex-direction:column;
    width: 500px;
    min-height: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px 0.5px 0.5px #00000033;
    background:var(--main-bg-color);
    border:2px solid red;

}

.form{
    border:2px solid red;
    min-height:340px;
    display:flex;
    flex-direction:column;
    gap:1em;
}

.input {
    all:unset;
    border-radius: 5px;
    padding: 1em;
    margin: 10px;
    color: rgb(97, 93, 93);
    border: 1px solid #dadde1;
    display: flex;
    justify-content: space-between;
    width:93%;

}