@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  --main-bg-color: #e9ebf0;
  --accent-color: #3361ff;
  --gray-color: #c7ced9;
  --darkgray-color: rgba(0, 0, 0, 0.5);
  --yellow-color: #eab308;
  --pink-color: #db2777;
  --purple-color: #9333ea;
  --green-color: #16a34a;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
