@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  --main-bg-color: #E9EBF0;
  --accent-color:  #3361FF;
  --gray-color:   #C7CED9;
  --darkgray-color: rgba(0, 0, 0, 0.5);
  --yellow-color: #EAB308;
  --pink-color: #DB2777;
  --purple-color: #9333EA;
  --green-color: #16A34A;
}

*{
  box-sizing:border-box;
}

body {
  height: 100vh;
  margin:0;
  padding:0;
}