.modalContainer{
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    top:0;
    right:0;
    background-color: rgba(0,0,0,.5);
}